/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.buttons .gbutton {
  position: relative;
  display: inline-block;
  color: #fff;
  padding: 12px 38px;
  background: linear-gradient(90deg, #6616d0, #ac34e7);
  border-radius: 45px;
  margin: 10px;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(50% - 20px); /* Ensure two buttons per row */
  box-sizing: border-box; /* Include padding and border in element's total width */
  text-align: center; /* Center align text */
}

.buttons .gbutton:hover {
  background: linear-gradient(90deg, #ac34e7, #6616d0);
}

@media (max-width: 768px) {
  .buttons .gbutton {
    width: calc(100% - 20px); /* One button per row on smaller screens */
    transform: scale(1); /* Optional: Adjust scaling if needed for smaller screens */
  }
}

.buttons .gbutton.two {
  background: linear-gradient(90deg, #025ce3, #4e94fd);
}

.buttons .gbutton .overlay {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: blink 0.5s linear;
}

@keyframes blink {
  0% {
    height: 0px;
    width: 0px;
    opacity: 0.3;
  }
  100% {
    height: 400px;
    width: 400px;
    opacity: 0;
  }
}

/* Container */
.title-section {
  text-align: center;
  padding: 50px 0 60px 0; /* Adjusted padding to include top padding */
  position: relative;
  background-image: url('Background.jpeg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.644); /* Add box shadow here */
  color: white; /* Ensure the text is visible */
  z-index: 1;
}

.title-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent overlay */
  z-index: -1;
}

.title-section h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.title-section h2:hover {
  color: #09ff00;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.title-section h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.title-section p {
  margin-bottom: 0;
}
